<!DOCTYPE html>
<html>
<head>
    <title>Blockchain Interface</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 1200px;
            margin: auto;
            padding: 20px;
        }
        .scrolling-wrapper {
            overflow-x: scroll;
            display: flex;
            flex-wrap: nowrap;
        }
        .card {
            flex: 0 0 auto;
            width: 300px;
            margin-right: 15px;
        }
        .section {
            margin-bottom: 40px;
        }
        .transaction-form {
            max-width: 600px;
            margin-left: 20px;
        }
        .left-section {
            position: fixed;
            left: 0;
            top: 56px;
            bottom: 0;
            overflow-y: auto;
            padding: 20px;
        }
        .right-section {
            position: fixed;
            right: 0;
            top: 56px;
            bottom: 0;
            overflow-y: auto;
            padding: 20px;
        }
        .blockchain-container {
            margin-top: 20px;
            margin-left: 5px;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 4px;
            background-color: #f9f9f9;
            max-height: 600px;
            overflow-y: auto;
        }
        .tx-container {
            margin-top: 20px;
            margin-right: 5px;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 4px;
            background-color: #f9f9f9;
            max-height: 600px;
            overflow-y: auto;
        }
        .wallet-card {
            margin-bottom: 20px;
        }
        .wallet-card button {
            margin-top: 10px;
        }
    </style>

    <script>
        {% set cleaned_node_address = node_address | replace("http://", "") %}
        const nodeAddresses = {{ node_addresses|tojson }};
    
        let blockchainData;
    
        // Function to fetch UTXO data from the blockchain
        async function getLatestBlockUTXOPool() {
            const response = await fetch('{{node_address}}/chain');
            blockchainUTXOData = await response.json();

            const latestBlock = blockchainData.chain[blockchainData.chain.length - 1];
            const utxoPool = [];

            Object.keys(latestBlock.utxo_pool).forEach(key => {
                const utxo = latestBlock.utxo_pool[key];
                utxoPool.push(utxo);
            });

            return utxoPool;
        }

        async function fetchChain() {
            const response = await fetch('{{node_address}}/chain');
            blockchainData = await response.json();
            
            const chainOutput = document.getElementById('chain-output');
            chainOutput.innerHTML = '';

            // Reverse the order of blocks
            const reversedChain = blockchainData.chain.slice().reverse();

            reversedChain.forEach(block => {
                const card = document.createElement('div');
                card.className = 'card';
                card.innerHTML = `
                    <div class="card-body">
                        <h5 class="card-title">Block ${block.index}</h5>
                        <p class="card-text">Hash: ${block.hash}</p>
                        <p class="card-text">Previous Hash: ${block.previous_hash.slice(-10)}</p>
                        <p class="card-text">Nonce: ${block.nonce}</p>
                        <p class="card-text">Timestamp: ${new Date(block.timestamp * 1000).toLocaleString()}</p>
                        <a href="{{frontend_address}}/block?index=${block.index}&node_address={{node_address}}" class="btn btn-primary">View Details</a>
                    </div>
                `;
                chainOutput.appendChild(card);
            });

            // Display peer nodes in the navbar dropdown
            const peersDropdown = document.getElementById('peers-dropdown');
            peersDropdown.innerHTML = blockchainData.peers.map(peer => `<a class="dropdown-item" href="{{frontend_address}}/?node_address=${peer}">${peer}</a>`).join('');
        }

        async function generateWallet() {
            try {
                const response = await fetch('{{node_address}}/generate_wallet');
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                const data = await response.json();
                
                const publicKey = data.publicKey;
                const privateKey = data.privateKey;

                const output = `Public Key: ${publicKey}\nPrivate Key: ${privateKey}`;
                
                // Copy to clipboard
                copyToClipboard(output)
            } catch (error) {
                console.error('Error generating wallet:', error);
                alert('Failed to generate wallet. Please try again later.');
            }
        }

        // Function to sanitize HTML to prevent XSS attacks
        function sanitizeHtml(text) {
            const element = document.createElement('div');
            element.innerText = text;
            return element.innerHTML;
        }

        function copyToClipboard(text) {
            navigator.clipboard.writeText(text).then(() => {
                alert('Copied to clipboard');
            }).catch(err => {
                console.error('Could not copy text: ', err);
                alert('Failed to copy text. Please try again.');
            });
        }

        async function signTransaction() {
            const from = document.getElementById('tx-from').value;
            const to = document.getElementById('tx-to').value;
            const amount = document.getElementById('tx-amount').value;
            const privateKey = document.getElementById('tx-private-key').value;

            try {
                const response = await fetch('{{node_address}}/sign_transaction', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ from, to, amount, private_key: privateKey })
                });

                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }

                const signature = await response.text();
                document.getElementById('tx-signature').value = signature;
            } catch (error) {
                console.error('Error:', error);
            }
        }

        async function submitTransaction() {
            const inputPublicKey = document.getElementById('tx-from').value;
            const outputPublicKey = document.getElementById('tx-to').value;
            const amount = parseFloat(document.getElementById('tx-amount').value);
            const signature = document.getElementById('tx-signature').value;

            try {
                const response = await fetch(`{{node_address}}/new_transaction`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ input_public_key: inputPublicKey, output_public_key: outputPublicKey, amount, signature })
                });
                const result = await response.text();
                alert(`Response from {{node_address}}: ${result}`);
            } catch (error) {
                console.error('Error submitting transaction to', 'nodeAddress', error);
            }
        }

        // Attach multiple onload events
        window.addEventListener('load', fetchChain);
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{frontend_address}}/">Blockchain Interface</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="generateWallet()">Generate Wallet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{frontend_address}}/mempool?node_address={{node_address}}">View Mempool</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Peers
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="peers-dropdown">
                        <!-- Peers will be populated here -->
                    </div>
                </li>
            </ul>
            <span class="navbar-text ml-auto">
                Connected to {{cleaned_node_address}}
            </span>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-9 left-section">
                <div class="section blockchain-container">
                    <h2>Blockchain</h2>
                    <div class="scrolling-wrapper" id="chain-output"></div>
                </div>
            </div>
            <div class="col-md-3 right-section">
                <div class="transaction-form tx-container">
                    <h2>Create Transaction</h2>
                
                    <!-- From (Public Key) -->
                    <div class="form-group">
                        <label for="tx-from">From (Public Key):</label>
                        <input type="text" class="form-control" id="tx-from" placeholder="Enter Public Key">
                    </div>
                
                    <!-- To (Public Key) -->
                    <div class="form-group">
                        <label for="tx-to">To (Public Key):</label>
                        <input type="text" class="form-control" id="tx-to" placeholder="Enter Public Key">
                    </div>
                
                    <!-- Amount -->
                    <div class="form-group">
                        <label for="tx-amount">Amount:</label>
                        <input type="text" class="form-control" id="tx-amount" placeholder="Enter Amount (SB)">
                    </div>
                
                    <!-- Private Key -->
                    <div class="form-group">
                        <label for="tx-private-key">Private Key:</label>
                        <input type="text" class="form-control" id="tx-private-key" placeholder="Enter Private Key">
                    </div>
                
                    <button class="btn btn-primary" onclick="signTransaction()">Sign Transaction</button>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" id="tx-signature" placeholder="Signature" readonly>
                    </div>
                    <button class="btn btn-primary" onclick="submitTransaction()">Submit Transaction</button>
                </div>
                
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
